* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.App-body {
   height: 200px;
   height: 500px;
   display: flex;
   justify-content: space-between;
}
.Float-container {
   position: relative;
   padding-bottom: 100px;
   /* border: 1px solid white; */
   height: 100%;
   flex: 0 1 35%;
   background-color: #2b2d31;
}
.Float-title-container {
   padding: 20px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border-bottom: 1px solid white; */
   padding: 10px 16px 10px 10px;
}
.Float-title {
   text-transform: uppercase;
   font-size: 18px;
   color: #b5bac1;
   padding: 10px;
}
.Users-container {
   display: flex;
   flex-direction: column;
   padding: 12px;
   /* border: 1px solid orange; */
}
/* FLOAT FOOTER */
.Float-footer {
   position: absolute;
   bottom: 0;
   /* border: 1px solid orange; */
   width: 100%;
   height: 70px; 
   padding: 12px;
   background-color: #232428;
}
.Float-footer-container {
   /* border: 2px solid green; */
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.Float-footer-user-container {
   /* border: 3px solid pink; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 10px;
   flex: 0 1 50%;

}
.Duck {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}
.User-name-status-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* border: 1px solid orangered; */
}
.User-name {
   color: white;
   font-size: 16px;
}
.Status {
   color: #b5bac1;
   font-size: 12px;
}
.Float-footer-connect {
   flex: 0 1 50%;
   /* border: 1px solid orangered; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}
.Microphone-icon,
.Headphones-icon,
.Settings-icon{
   width: 35px;
   height: 35px;
   padding: 5px;
}

.Microphone-icon:hover,
.Headphones-icon:hover,
.Settings-icon:hover {
   border: 1px solid #404249;
   border-radius: 5px;
}

/* MAIN CONTAINER */
.Main-container {
   flex: 0 1 70%;
   /* border: 1px solid pink; */
}